nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    background-color: #fff;
}

nav .container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
}

.logo img {
    width: 55%;
}

.nav-bar-nav {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    white-space: nowrap;
}

.nav-bar-nav ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.nav-bar-nav ul li a {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.nav-bar-nav ul li a:hover {
    text-decoration: underline;
}

.nav-bar-nav ul :first-child a {
    color: red;
}

.nav-bar-cta {
    width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
}

.nav-bar-cta .call {
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
}

.star-of-life {
    font-size: 8px;
    color: red;
}

.nav-bar-cta .call:hover {
    text-decoration: underline;
}

.pay-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid green;
    color: green;
    border-radius: 10px;
    cursor: pointer;
}

.sign-in {
    background-color: #f3f3f3;
    padding: 10px 10px;
    color: black;
    border-radius: 10px;
}

.lang-change-button {
    position: relative;
}

.lang-change-button button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.account {
    padding-left: 8px;
}

.lang-2 {
    background-color: white;
    box-shadow: 1px 1px 4px lightgrey;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 30px;
    z-index: 100;
    display: none;
}

.lang-2.show {
    display: flex;
}

.lang-2 button {
    width: 98%;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}

.lang-2 button:hover {
    background-color: rgb(241, 241, 241);
}


#lang {
    display: flex;
    align-items: center;
    gap: 5px;
}

#lang i {
    font-size: 10px;
}

.nav-bar-cta .cart-button {
    color: rgb(106, 106, 106);
    font-size: 15px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
}

.nav-bar-cta .account {
    color: rgb(106, 106, 106);
    font-size: 15px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    display: none;
}