.offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    background-color: transparent;
}

.offer-title {
    font-size: 20px;
    color: #323232;
    font-weight: bold;
    width: 95%;
    margin-bottom: 20px;
}

.offers .container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.offer-item {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    flex: 0 0 auto;
    margin-right: 10px;

}

.container::-webkit-scrollbar {
    display: none;
}

.item-image {
    width: 50%;
}

.item-image img {
    width: 100%;
    border-radius: 10px;
}

.item-info {
    width: 50%;
    padding: 0 30px;
}

.item-span {
    border: 1px solid green;
    font-size: 13px;
    color: green;
    padding: 3px;
    border-radius: 10px
}

.item-info p {
    margin-bottom: 100px;
    margin-top: 20px;
    font-size: 24px;
    color: #323232;
}