.sales-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 30px;
}

.head {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.head p {
    font-size: 20px;
    color: #323232;
    font-weight: bold;
}

.head a {
    text-decoration: underline;
    font-size: 16px;
    color: #777777;
}

.head a:hover {
    text-decoration: none;
}

.sales-buttons {
    width: 95%;
}

.sales-buttons ul {
    display: flex;
    flex-wrap: wrap;
}

.sales-buttons ul li {
    margin-bottom: 8px;
    margin-right: 10px;
}

.sales-buttons ul li button {
    padding: 10px;
    background-color: #eaeaea;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s;
}

.sales-buttons ul li button:focus {
    color: white;
    background-color: black;
}

.sales-buttons ul li button:hover {
    background-color: black;
    color: white;
}

.products {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 15px;
}

.product-item {
    flex: 0 0 auto;
    width: 262px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    padding: 15px 8px;
    transition: 0.15s;
    margin-right: 10px;
}

.product-item:hover {
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.product-item:hover .product-item-bottom-menu {
    display: flex;
    transform: translateY(100%);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.product-item-bottom-menu {
    position: absolute;
    left: 0;
    bottom: 15px;
    background-color: white;
    display: none;
    width: 100%;
    padding: 15px 8px;
    border-radius: 10px;
    flex-direction: column;
    transform: translateY(0);
}


.mob-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    display: none;
}

.mob-buttons button:last-child {
    min-width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.mob-buttons button:first-child {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.mob-buttons button i {
    font-size: 20px;
}

.head-span {
    border: 1px solid green;
    font-size: 12px;
    padding: 3px;
    border-radius: 10px
}

.product-item p {
    text-align: start;
    font-size: 14px;
    text-wrap: wrap;
    z-index: 100;
}

.link-image {
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    z-index: 0;

}


.link-image span {
    background-color: green;
    padding: 7px 20px;
    position: absolute;
    bottom: 0;
    left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 13px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.price strong {
    display: flex;
    flex-direction: column;
}

strong:not(.normal-price) i {
    text-decoration: line-through;
    font-size: 14px;
}

strong b {
    color: red;
    font-size: 16px;
}

.price span {
    font-size: 14px;
    color: #777777;
}

.product-basket-button button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.product-basket-button button i {
    margin-right: 6px;
}

.product-links {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 12px;
}

.product-links :nth-child(2) {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0 32px;
}

.product-links a {
    color: black;
}

.product-links button {
    background-color: transparent;
    border: none;
}

.product-links i {
    font-size: 18px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.info span {
    font-size: 12px;
}